In [1]:
import pandas as pd
data=pd.read_csv("creditCardFraud.csv")

In [2]:
data.head(15)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
5,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
6,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
7,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
8,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
9,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
10,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
11,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
12,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
13,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
14,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   1001 non-null   int64
 1   SEX                         1001 non-null   int64
 2   EDUCATION                   1001 non-null   int64
 3   MARRIAGE                    1001 non-null   int64
 4   AGE                         1001 non-null   int64
 5   PAY_0                       1001 non-null   int64
 6   PAY_2                       1001 non-null   int64
 7   PAY_3                       1001 non-null   int64
 8   PAY_4                       1001 non-null   int64
 9   PAY_5                       1001 non-null   int64
 10  PAY_6                       1001 non-null   int64
 11  BILL_AMT1                   1001 non-null   int64
 12  BILL_AMT2                   1001 non-null   int64
 13  BILL_AMT3                   1001 non-null   int64
 14  BILL_AMT4                   1001 non-null   int64
 15  BILL_AMT5                   1001 non-null   int64
 16  BILL_AMT6                   1001 non-null   int64
 17  PAY_AMT1                    1001 non-null   int64
 18  PAY_AMT2                    1001 non-null   int64
 19  PAY_AMT3                    1001 non-null   int64
 20  PAY_AMT4                    1001 non-null   int64
 21  PAY_AMT5                    1001 non-null   int64
 22  PAY_AMT6                    1001 non-null   int64
 23  default payment next month  1001 non-null   int64
dtypes: int64(24)
memory usage: 187.8 KB

In [5]:
data.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [6]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\sunita\anaconda3\lib\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\sunita\anaconda3\lib\site-packages (from pandas-profiling) (4.2.0)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.12.3)
Requirement already satisfied: scipy<1.11,>=1.4.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.5.2)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.24.0)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.19.2)
Requirement already satisfied: pandas!=1.4.0,<2,>1.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.1.3)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.14.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.2)
Requirement already satisfied: typeguard<3,>=2.13.2 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied: dacite>=1.8 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.8.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (5.3.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.50.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: pydantic<2,>=1.8.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.10.9)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.2)
Requirement already satisfied: matplotlib<4,>=3.2 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (3.3.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\sunita\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sunita\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (0.17.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sunita\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sunita\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sunita\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sunita\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (1.25.11)
Requirement already satisfied: pytz>=2017.2 in c:\users\sunita\anaconda3\lib\site-packages (from pandas!=1.4.0,<2,>1.1->ydata-profiling->pandas-profiling) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sunita\anaconda3\lib\site-packages (from pandas!=1.4.0,<2,>1.1->ydata-profiling->pandas-profiling) (2.8.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sunita\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\sunita\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (21.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sunita\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: pillow in c:\users\sunita\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (8.0.1)
Requirement already satisfied: PyWavelets in c:\users\sunita\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sunita\anaconda3\lib\site-packages (from pydantic<2,>=1.8.1->ydata-profiling->pandas-profiling) (4.6.3)
Requirement already satisfied: cycler>=0.10 in c:\users\sunita\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sunita\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\sunita\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (2.4.7)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sunita\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sunita\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.5)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\sunita\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied: six>=1.5 in c:\users\sunita\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.4.0,<2,>1.1->ydata-profiling->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\sunita\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (4.4.2)

In [7]:
from pandas_profiling import ProfileReport

<ipython-input-7-e2a33329b6f0>:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [8]:
profile = ProfileReport(data, title="Pandas Profiling Report")

In [9]:
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=5.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [10]:
X=data.drop(labels=["default payment next month"],axis=1)

In [11]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
1,50000,1,1,2,37,0,0,0,0,0,...,57608,19394,19619,20024,2500,1815,657,1000,1000,800
2,500000,1,1,2,29,0,0,0,0,0,...,445007,542653,483003,473944,55000,40000,38000,20239,13750,13770
3,100000,2,2,2,23,0,-1,-1,0,0,...,601,221,-159,567,380,601,0,581,1687,1542
4,140000,2,3,1,28,0,0,2,0,0,...,12108,12211,11793,3719,3329,0,432,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,100000,1,2,1,29,0,0,0,0,-1,...,67782,-2618,95748,101299,3320,5000,0,100000,7186,0
997,200000,2,2,1,28,0,0,0,0,0,...,8441,97041,103541,3632,5000,2000,89000,6500,91,1504
998,90000,2,2,1,40,-1,-1,-1,-1,-1,...,1114,657,1332,780,0,2806,2256,2274,780,0
999,360000,1,1,2,36,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
1000,150000,2,3,2,30,-2,-2,-2,-2,-2,...,3420,2527,0,0,9664,3420,2612,0,0,0

In [12]:
y=data["default payment next month"]

In [13]:
y

0       0
1       0
2       0
3       0
4       0
       ..
996     0
997     0
998     0
999     1
1000    1
Name: default payment next month, Length: 1001, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
#we did train and test split before only why because we dont want data leakage
x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.25,random_state=50)

In [16]:
#preprocessing steps
from sklearn.preprocessing import StandardScaler
train_scaler=StandardScaler()
test_scaler=StandardScaler()

In [17]:
scaled_train_data=train_scaler.fit_transform(x_train)

In [18]:

scaled_test_data=train_scaler.transform(x_test)

In [19]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(scaled_train_data,y_train)

GaussianNB()

In [20]:
y_pred=clf.predict(scaled_test_data)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y_test,y_pred)*100

69.7211155378486

In [23]:
param_grid = {"var_smoothing": [1e-9,0.1, 0.001, 0.5,0.05,0.01,1e-8,1e-7,1e-6,1e-10,1e-11]}

In [24]:
from sklearn.model_selection import GridSearchCV
gs=GridSearchCV(clf,param_grid=param_grid,cv=5,verbose=3)

In [25]:
gs.fit(scaled_train_data,y_train)

Fitting 5 folds for each of 11 candidates, totalling 55 fits
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.713, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.707, total=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.580, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.780, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.487, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.693, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.773, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.700, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.780, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.633, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.713, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.707, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.593, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.780, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.487, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.740, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.807, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.767, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.793, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.773, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.700, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.747, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.647, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.787, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.540, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.720, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.713, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.607, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.780, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.500, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.713, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.707, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.580, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.780, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.487, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.713, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.707, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.580, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.780, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.487, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.713, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.707, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.580, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.780, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.487, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.713, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.707, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.580, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.780, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.487, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.713, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.707, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.580, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.780, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.487, total=   0.0s

[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:    0.3s finished

GridSearchCV(cv=5, estimator=GaussianNB(),
             param_grid={'var_smoothing': [1e-09, 0.1, 0.001, 0.5, 0.05, 0.01,
                                           1e-08, 1e-07, 1e-06, 1e-10, 1e-11]},
             verbose=3)

In [26]:
gs.cv_results_

{'mean_fit_time': array([0.00959806, 0.00479503, 0.00319986, 0.00320816, 0.00160027,
        0.00320492, 0.00166388, 0.00159969, 0.00640335, 0.0031991 ,
        0.00319896]),
 'std_fit_time': array([0.00319996, 0.00391513, 0.00391902, 0.00392918, 0.00320053,
        0.00392521, 0.00332775, 0.00319939, 0.00320169, 0.00391811,
        0.00391791]),
 'mean_score_time': array([0.00159478, 0.00160456, 0.        , 0.00159636, 0.0016572 ,
        0.00319576, 0.00160151, 0.00320101, 0.        , 0.        ,
        0.00160027]),
 'std_score_time': array([0.00318956, 0.00320911, 0.        , 0.00319271, 0.0033144 ,
        0.003914  , 0.00320301, 0.00392042, 0.        , 0.        ,
        0.00320053]),
 'param_var_smoothing': masked_array(data=[1e-09, 0.1, 0.001, 0.5, 0.05, 0.01, 1e-08, 1e-07,
                    1e-06, 1e-10, 1e-11],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'var_smoothing': 1e-09},
  {'var_smoothing': 0.1},
  {'var_smoothing': 0.001},
  {'var_smoothing': 0.5},
  {'var_smoothing': 0.05},
  {'var_smoothing': 0.01},
  {'var_smoothing': 1e-08},
  {'var_smoothing': 1e-07},
  {'var_smoothing': 1e-06},
  {'var_smoothing': 1e-10},
  {'var_smoothing': 1e-11}],
 'split0_test_score': array([0.71333333, 0.69333333, 0.71333333, 0.74      , 0.7       ,
        0.72      , 0.71333333, 0.71333333, 0.71333333, 0.71333333,
        0.71333333]),
 'split1_test_score': array([0.70666667, 0.77333333, 0.70666667, 0.80666667, 0.74666667,
        0.71333333, 0.70666667, 0.70666667, 0.70666667, 0.70666667,
        0.70666667]),
 'split2_test_score': array([0.58      , 0.7       , 0.59333333, 0.76666667, 0.64666667,
        0.60666667, 0.58      , 0.58      , 0.58      , 0.58      ,
        0.58      ]),
 'split3_test_score': array([0.78      , 0.78      , 0.78      , 0.79333333, 0.78666667,
        0.78      , 0.78      , 0.78      , 0.78      , 0.78      ,
        0.78      ]),
 'split4_test_score': array([0.48666667, 0.63333333, 0.48666667, 0.77333333, 0.54      ,
        0.5       , 0.48666667, 0.48666667, 0.48666667, 0.48666667,
        0.48666667]),
 'mean_test_score': array([0.65333333, 0.716     , 0.656     , 0.776     , 0.684     ,
        0.664     , 0.65333333, 0.65333333, 0.65333333, 0.65333333,
        0.65333333]),
 'std_test_score': array([0.10549355, 0.05474791, 0.10376041, 0.02293953, 0.08585259,
        0.09920573, 0.10549355, 0.10549355, 0.10549355, 0.10549355,
        0.10549355]),
 'rank_test_score': array([6, 2, 5, 1, 3, 4, 6, 6, 6, 6, 6])}

In [27]:
gs.best_estimator_

GaussianNB(var_smoothing=0.5)

In [28]:
clf2 = GaussianNB(var_smoothing=0.5)
clf2.fit(scaled_train_data,y_train)
y_pred2=clf2.predict(scaled_test_data)
accuracy_score(y_test,y_pred2)*100

80.0796812749004

## xgboost

In [30]:
! pip install xgboost
from xgboost import XGBClassifier

Collecting xgboost
  Downloading xgboost-1.7.5-py3-none-win_amd64.whl (70.9 MB)
Requirement already satisfied: scipy in c:\users\sunita\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in c:\users\sunita\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.5

In [31]:
xgb=XGBClassifier()

In [32]:
xgb.fit(scaled_train_data,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [33]:
y_pred3=xgb.predict(scaled_test_data)

In [34]:
accuracy_score(y_test,y_pred3)

0.7689243027888446

In [35]:
param_grid_xgboost = { "n_estimators": [50,100, 130],
                        "max_depth": range(3,11,1),
                      "random_state":[0,50,100]
                     }

# Creating an object of the Grid Search class
grid= GridSearchCV(XGBClassifier(objective='binary:logistic'),param_grid_xgboost,verbose=3,cv=5,n_jobs=-1)

In [36]:
grid.fit(scaled_train_data,y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   20.7s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   34.8s
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed:  1.3min finished

GridSearchCV(cv=5,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     feature_types=None, gamma=None,
                                     gpu_id=None, grow_policy=None,
                                     importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None,...
                                     max_cat_threshold=None,
                                     max_cat_to_onehot=None,
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=None,
                                     num_parallel_tree=None, predictor=None,
                                     random_state=None, ...),
             n_jobs=-1,
             param_grid={'max_depth': range(3, 11),
                         'n_estimators': [50, 100, 130],
                         'random_state': [0, 50, 100]},
             verbose=3)

In [37]:
grid.best_estimator_

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=4, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=0, ...)

In [38]:
grid.best_params_

{'max_depth': 4, 'n_estimators': 100, 'random_state': 0}

In [39]:
xgb_new=XGBClassifier(max_depth=4, n_estimators=90, random_state=0)

In [40]:
y_pred4=xgb_new.fit(scaled_train_data,y_train).predict(scaled_test_data)

In [41]:
accuracy_score(y_test,y_pred4)

0.7848605577689243